{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
	<section role="main" class="content-body card-margin">
		<header class="page-header">
			<h2>Formulario Registro </h2>
		</header>
		
		<div class="row">
			<div class="col">
				<section class="card">
					<header class="card-header">
						<div class="card-actions">
							<a href="#" class="card-action card-action-toggle" data-card-toggle></a>
							<a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
						</div>
						
						<h2 class="card-title">Agregar Bicicleta</h2>
					</header>
					<div class="card-body">
						{{ form.non_field_errors }}
						<form action="{% url 'bicicletas-agregar' %}" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="form-group row">
								<label class="col-lg-3 control-label text-lg-right pt-2" for="{{ form.numero_serie.id_for_label }}">Número de Serie</label>
								<div class="col-lg-6">
									{{ form.numero_serie|add_class:"form-control" }}
								</div>
							</div>
							
							<div class="form-group row">
								<label class="col-lg-3 control-label text-lg-right pt-2" for="{{ form.marca.id_for_label }}">Marca</label>
								<div class="col-lg-6">
									{{ form.marca|add_class:"form-control mb-3" }}
								</div>
							</div>
							
							
							<div class="form-group row">
								<label class="col-lg-3 control-label text-lg-right pt-2" for="{{ form.modelo.id_for_label }}">Modelo</label>
								<div class="col-lg-6">
									{{ form.modelo|add_class:"form-control" }}
								</div>
							</div>
							
							
							<div class="form-group row">
								<label class="col-lg-3 control-label text-lg-right pt-2" for="{{ form.estilo.id_for_label }}">Estilo</label>
								<div class="col-lg-6">
									{{ form.estilo|add_class:"form-control mb-3" }}
								</div>
							</div>
							
							
							<div class="form-group row">
								<label class="col-lg-3 control-label text-lg-right pt-2" for="{{ form.color_primario.id_for_label }}">Color Primario</label>
								<div class="col-lg-6">
									{{ form.color_primario|add_class:"form-control mb-3" }}
								</div>
							</div>
							
							
							
							<div class="form-group row">
								<label class="col-lg-3 control-label text-lg-right pt-2" for="{{ form.color_secundario.id_for_label }}">Color Secundario</label>
								<div class="col-lg-6">
									{{ form.color_secundario|add_class:"form-control mb-3" }}
									
								</div>
							</div>
							
							
							<div class="form-group row">
								<label class="col-lg-3 control-label text-lg-right pt-2" for="{{ form.aro.id_for_label }}">Aro</label>
								<div class="col-lg-6">
									{{ form.aro|add_class:"form-control mb-3" }}
								</div>
							</div>
							
							
							
							<div class="form-group row">
								<label class="col-lg-3 control-label text-lg-right pt-2" for="{{ form.factura.id_for_label }}">Factura o Boleta de la compra</label>
								<div class="col-lg-6">
									<div class="fileupload fileupload-new" data-provides="fileupload">
										<div class="input-append">
											<div class="uneditable-input">
												<i class="fas fa-file fileupload-exists"></i>
												<span class="fileupload-preview"></span>
											</div>
											<span class="btn btn-default btn-file">
												<span class="fileupload-exists">Change</span>
												<span class="fileupload-new">Seleccionar Archivo</span>
												<input type="file" />
												{{ form.factura }}
											</span>
											<a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Eliminar</a>
										</div>
									</div>
								</div>
							</div>
							
							
							<div class="form-group row">
								<label class="col-lg-3 control-label text-lg-right pt-2" for="{{ form.foto.id_for_label }}">Subir fotos de la bicicleta</label>
								<div class="col-lg-6">
									<div class="fileupload fileupload-new" data-provides="fileupload">
										<div class="input-append">
											<div class="uneditable-input">
												<i class="fas fa-file fileupload-exists"></i>
												<span class="fileupload-preview"></span>
											</div>
											<span class="btn btn-default btn-file">
												<span class="fileupload-exists">Change</span>
												<span class="fileupload-new">Seleccionar Archivo</span>
												{{ form.foto }}
											</span>
											<a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Eliminar</a>
										</div>
									</div>
								</div>
							</div>
							
							<div class="form-group row">
								<label class="col-lg-3 control-label text-lg-right pt-2" for="{{ form.descripcion.id_for_label }}">Descripción de la bicicleta</label>
								<div class="col-lg-6">
									{{ form.descripcion|add_class:"form-control" }}
								</div>
							</div>
							
							<div class="form-group row">
								<label class="col-lg-3 control-label text-lg-right pt-2">
									<button type="submit" class="mb-1 mt-1 mr-1 btn-lg btn-primary">Registar</button>
									<button type="button" class="mb-1 mt-1 mr-1 btn-lg btn-default">Borrar</button>
								</label>
							</div>
						</form>
					</div>
				</section>
			</div>
		</div>
	</section>
{% endblock %}