{% extends 'base.html' %}
{% block content %}
	<section role="main" class="content-body card-margin">
		<header class="page-header">
			<h2>Formulario Registro </h2>
			
			
		</header>
		<!-- start: page -->
		<div class="row">
			<div class="col">
				<section class="card">
					<header class="card-header">
						<div class="card-actions">
							<a href="#" class="card-action card-action-toggle" data-card-toggle></a>
							<a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
						</div>
						
						<h2 class="card-title">Escritorio</h2>
					</header>
					<div class="card-body">
						
						<h3>Bienvenido a Registro Nacional de Bicicletas</h3>
						
						<p>Entre todos crearemos un gran comunidad con el objetivo de estar mas seguros </p>
						
						
						<button type="button" class="mb-1 mt-1 mr-1 btn btn-default" onclick="location.href='{% url 'datos-usuario' %}';">Mis Datos</button>
						<button type="button" class="mb-1 mt-1 mr-1 btn btn-primary" onclick="location.href='{% url 'bicicletas-agregar' %}';">Agregar Nueva Bicicleta</button>
						
						<button type="button" class="mb-1 mt-1 mr-1 btn btn-danger" onclick="location.href='{% url 'escritorio' %}';">INFORMAR ROBO</button>
						
					</div>
				</section>
			</div>
		</div>
		
		<!-- end: page -->
	</section>
{% endblock %}